<div class="paths">
  <div class="form-group">
    <label for="xml" class="text-label">XML file path</label>
    <input id="xml" class="form-control" type="text" name="specification"
           [(ngModel)]="paths.xml"/>
  </div>
  <div class="form-group">
    <label for="binary" class="text-label">Binary file path</label>
    <input id="binary" class="form-control" type="text" name="binary" [(ngModel)]="paths.binary"/>
  </div>
</div>
<div class="paths-buttons">
  <button class="btn btn-primary paths-button" (click)="openBinaryFile()">Open file</button>
  <button class="btn btn-primary paths-button" (click)="saveBinaryFile()">Save file</button>
</div>

<div class="menu">

  <div class="tables-names" *ngIf="view != null">
    <button class="btn btn-secondary table-name" *ngFor="let tableName of view.tablesNames"
            (click)="openTable(tableName.uuid)">{{tableName.name}}</button>
  </div>

  <div class="table table-striped" *ngIf="view != null">

    <table style="width: 100%" *ngIf="view.selectedTable != null" border="1">
      <thead class="thead-dark">
      <tr>
        <th class="column text"
            *ngFor="let columnName of view.selectedTable.columnsNames">{{columnName}}</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let  row of view.selectedTable.rows">
        <td *ngFor="let field of row.fields">
          <input class="form-control text" (blur)="editField(row.uuid, fieldName, $event)"
                 type="text"
                 value="{{field.value}}"/></td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
