.menu {
  display: flex;
  flex-direction: row;
}

.tables-names {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-right: 5px;
}

.column {
  text-align: center;
}

.text {
  font-size: 18px;
}

.text-label {
  font-size: 25px;
  font-weight: bold
}

.table-name {
  margin-bottom: 5px;
}

.paths {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paths-buttons {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.paths-button {
  margin: 5px;
}

