<app-panel></app-panel>
<table class="table table-bordered">
    <thead>
    <tr>
        <th scope="col">Test</th>
        <th scope="col">Test</th>
        <th scope="col">Test</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>123</td>
        <td>123</td>
        <td>text texttext text</td>
    </tr>
    <tr>
        <td>123</td>
        <td>123</td>
        <td>text texttext text</td>
    </tr>
    <tr>
        <td>123</td>
        <td>123</td>
        <td>text texttext text</td>
    </tr>
    </tbody>
</table>


<button type="button" class="btn btn-primary" (click)="modal" data-toggle="modal"
        data-target="#exampleModalCenter"></button>

<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <textarea class="form-control text-area-element" rows="10"></textarea>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-dark panel-btn">Save</button>
            </div>
        </div>
    </div>
</div>
