.menu {
    display: flex;
    flex-direction: row;
}

.tables-names {
    display: flex;
    flex-direction: column;
    justify-content: left;
    margin-right: 5px;
}

.column {
    text-align: center;
}

.input {
    font-size: 18px;
    min-width: 111px;
}

.text-label {
    font-size: 25px;
    font-weight: bold
}

.table-name {
    margin-bottom: 5px;
}

.oops {
    font-size: 100px;
    font-weight: bold;
    text-align: center;
}


