<div *ngIf="errorHandler.message!= null" class="error">{{errorHandler.message}}</div>
<div class="panel">
    <div class="left-element">
        <div class="operation-element">
            <button type="button" class="btn btn-dark panel-btn" (click)="panelService.openFiles()"><label>Open</label>
            </button>
            <button type="button" class="btn btn-dark panel-btn" (click)="panelService.save()"><label>Save</label>
            </button>
        </div>
        <div class="file-element">
            <button type="button" class="btn btn-dark panel-btn"><label for="spec">Spec</label></button>
            <button type="button" class="btn btn-dark panel-btn"><label for="binary">Binary</label></button>
        </div>
        <div class="text-element">
            <div class="name-element">{{panelService.spec == null ? '' : panelService.spec.name}}</div>
            <div class="name-element">{{panelService.binary == null ? '' : panelService.binary.name}}</div>
        </div>
        <input id=spec type="file" (change)="selectSpec($event)" style="display: none">
        <input id="binary" type="file" (change)="selectBinary($event)" style="display: none">
    </div>

    <div class="center-element">
        <input class="form-control search-element" type="text" placeholder="Search" aria-label="Search">

        <select class="form-control select-element" (change)="selectTable($event.target.value)">
            <option value="empty" selected></option>
            <option *ngFor="let tableDesc of tableService.tablesDescriptions"
                    value="{{tableDesc.id}}">{{tableDesc.name}}</option>
        </select>
    </div>

    <div class="right-element">
        <div class="pagination-element">
            <select class="form-control select-element select-row-element"
                    (change)="selectRowCount($event.target.value)">
                <option *ngFor="let rowCount of paginationService.rowCounts"
                        value="{{rowCount}}">{{rowCount}}</option>
            </select>
            <button type="button" (click)="goToStart()" class="pagination-btn">
                <img src="assets/left.png" width="17" height="17">
            </button>
            <button type="button" *ngFor="let pageNumber of paginationService.pageNumbers"
                    (click)="selectPageNumber(pageNumber.value)"
                    [ngClass]="pageNumber.isSelect ? 'pagination-btn selected-pagination-btn' : 'pagination-btn'">
                <div>{{pageNumber.value}}</div>
            </button>
            <button type="button" (click)="goToEnd()" class="pagination-btn">
                <img src="assets/right.png" width="17" height="17">
            </button>
        </div>
    </div>
</div>
