<div class="panel">
    <div class="left-element">
        <div class="operation-element">
            <button type="button" class="btn btn-dark panel-btn"><label>Open</label></button>
            <button type="button" class="btn btn-dark panel-btn"><label>Save</label></button>
        </div>
        <div class="file-element">
            <button type="button" class="btn btn-dark panel-btn"><label for="spec">Spec</label></button>
            <button type="button" class="btn btn-dark panel-btn"><label for="binary">Binary</label></button>
        </div>
        <div class="text-element">
            <div class="name-element">{{fileService.spec == null ? '' : fileService.spec.name}}</div>
            <div class="name-element">{{fileService.binary == null ? '' : fileService.binary.name}}</div>
        </div>
        <input id=spec type="file" (change)="selectSpec($event)" style="display: none">
        <input id="binary" type="file" (change)="selectBinary($event)" style="display: none">
    </div>

    <div class="center-element">
        <input class="form-control search-element" type="text" placeholder="Search" aria-label="Search">

        <select class="form-control select-element">
            <option>header</option>
            <option>segment</option>
        </select>
    </div>

    <div class="right-element">
        <div class="pagination-element">
            <ul class="pagination">
                <select class="form-control select-element">
                    <option>10</option>
                    <option>20</option>
                    <option>40</option>
                </select>
                <button class="pagination-btn">1</button>
                <button class="pagination-btn">2</button>
                <button class="pagination-btn">3</button>
            </ul>
        </div>
    </div>
</div>
