
.panel {
    display: flex;
    flex-direction: row;
}

.left-element {
    width: 40%;
    display: flex;
}

.center-element {
    width: 20%;
    display: flex;
    flex-direction: column;
}

.right-element {
    width: 40%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}

.operation-element {
    width: 25%;
    flex-direction: column;
    display: flex;
}

.file-element {
    width: 15%;
    flex-direction: column;
    display: flex;
}

.text-element {
    width: 60%;
    margin-left: 2%;
    flex-direction: column;
    display: flex;
}

.name-element {
    color: white;
    font-size: 21px;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.search-element, .select-element {
    background-color: #242F3D !important;
    border-color: #0E1621 !important;
    color: white !important;
    border-radius: 0 !important;
    margin: 0 !important;
}

.select-row-element {
    width: 75px !important;
}

.center-element > .search-element, .center-element > .select-element {
    height: 50% !important;
    font-size: 19px !important;
}

.pagination > .select-element {
    height: auto !important;
    width: auto;
}

.panel-btn {
    background-color: #242F3D !important;
    font-size: 19px !important;
    border-radius: 0 !important;
}

.operation-element > .panel-btn, .file-element > .panel-btn {
    margin: 1px 1px 1px 1px;
}

.pagination-element {
    width: 30%;
    height: 50%;
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: auto;
}

.pagination-btn {
    justify-content: center;
    display: flex;
    width: 36px;
    height: 36px;
    background-color: #242F3D;
    margin: 1px 1px;
    color: white;
    border: none;
    padding-left: 15px;
    padding-right: 15px;
}

.selected-pagination-btn {
    background: #17212B !important;
}

.page-link {
    color: white !important;
}

.error {
    padding: 10px;
    background: #2B5279;
    border: 0 !important;
    color: white;
    font-size: 20px;
    margin: 0 0 1px 0 !important;
}
