.panel-btn {
    background-color: #242F3D !important;
    font-size: 19px !important;
    border-radius: 0 !important;
}

.modal-body {
    padding: 0 !important;
    border: none;
}

.modal-footer {
    padding: 0 !important;
    background: #0E1621;
}

textarea {
    border-radius: 0 !important;
}

thead {
    font-size: 21px !important;
}

th {
    background: #17212B !important;
    border-radius: 0 !important;
    border-color: #0E1621 !important;
}

tr {
    text-align: center;
    color: white;
    background: #182533 !important;
}

td {
    border-color: #0E1621 !important;
}

tbody {
    font-size: 19px !important;
}


