<div *ngIf="isOpenModal" class="field-edit-modal">
    <div class="field-edit-modal-content">
        <textarea [(ngModel)]="openedField.value" class="field-text"></textarea>
        <button class="btn btn-dark modal-btn" (click)="editField()">Close</button>
    </div>
</div>
<table *ngIf="tableService.selectedTable != null" class="table table-bordered">
    <thead>
    <tr>
        <th *ngFor="let columnName of tableService.selectedTable.columns_names">{{columnName}}</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let row of tableService.rows">
        <td class="field" (click)="openModal(field)" *ngFor="let field of row.fields">{{field.value}}</td>
    </tr>
    </tbody>
</table>
