<div class="header">
    <div class="panel">
        <div class="paths-buttons">
            <button class="btn btn-primary panel-element" (click)="openBinaryFile()">Open</button>
            <button class="btn btn-primary panel-element" (click)="saveBinaryFile()">Save</button>
        </div>
        <button class="btn btn-secondary panel-element"><label for="xml">select xml </label></button>
        <div class="panel-element">{{availableFiles.xmlName}}</div>
        <button class=" btn btn-secondary panel-element"><label for="binary">select binary </label></button>
        <div class="panel-element">{{availableFiles.binaryName}}</div>

        <input id=xml type="file" (change)="onXmlSelected($event)" style="display: none">
        <input id="binary" type="file" (change)="onBinarySelected($event)" style="display: none">
    </div>
    <div class="logout">
        <button class="btn btn-dark panel-element" (click)="logout()">Logout</button>
    </div>
</div>

